# .streamlit/secrets.toml
# COPY THIS FILE TO 'secrets.toml' AND FILL IN YOUR VALUES.
# DO NOT COMMIT 'secrets.toml' TO GIT!

SUPABASE_URL = "your-project-url-here"
SUPABASE_KEY = "your-anon-key-here"
